---
layout: default
---

<section>
  <article class="pb5">
    {% for post in site.posts limit: 1 %}
    {{ post.content }}
    <div class="center mw7 ph3">
      <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    {% endfor %}
  </article>
  <article class="dn">
    <ul>
      {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url }}" title="{{post.title}}" class="large-list--link">
          <date datetime="{{post.date}}" class="meta">
          {{ post.date | date_to_long_string }}
          </date>
          {{ post.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <p class="dn"><a href="{{site.url}}/archives/" title="Archives">All Gifs</a></p>
  </article>
</section>
