---
layout: default
---

<section>
  <article class="pb5">
    {% for post in site.posts limit: 1 %}
    {{ post.content }}
    <div class="center mw7 ph3">
      <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    {% endfor %}
  </article>
  <article class="center mw7 ph3">
    <ul class="list pl0 ml0">
      {% for post in paginator.posts -1 %}
      <li class="pl0 mb4">
        <a href="{{ post.url }}" title="{{post.title}}" class="db link dim blue">
          <span class="fw6 f4 db">{{ post.title }}</span>
          <date datetime="{{post.date}}" class="f7 db">
          {{ post.date | date_to_long_string }}
          </date>
        </a>
      </li>
      {% endfor %}
    </ul>
    <p class="dn"><a href="{{site.url}}/archives/" title="Archives">All Gifs</a></p>
  </article>
</section>
