---
title: <%= @title %>
author: mrmrs
date: <%= @date %>
awslink:
---

<code class="lh-copy">
  <!-- Your body copy goes here -->
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <!-- Refernce links go here, see below  -->
  <!-- <a href="http://vimdoc.sourceforge.net/htmldoc/usr_42.html#42" class="code db link dim blue">:h 42</a> -->
</section>
