<footer class="bt b--black-10 pt5 pb5">
  <nav class="ph3 mw7 center">
    <a class="link blue dib pr3 pv2 mr3" href="/" title="Home">Home</a>
    <a class="link blue dib pr3 pv2 mr3" href="/all/" title="Full Archives">Full Archives</a>
    <a class="link blue dib pr3 pv2 mr3" href="/motions/" title="Full Archives">Motions</a>
    <a class="link blue dib pr3 pv2 mr3" href="/windows/" title="Full Archives">Windows</a>
  </nav>
  <div class="ph3 mw7 center">
    <p class="f5">
      © 2016. Filmed and typed by
      <a class="link dim black fw9" href="http://twitter.com/mrmrs_">@mrmrs_</a>
      and
      <a href="http://twitter.com/csswizardry" class="link dim black fw9">@csswizardry</a>
    </p>
    <div>
      <a href="https://twitter.com/vimgifs" class="twitter-follow-button" data-show-count="false">Follow @vimgifs</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <p class="f5 lh-copy measure mt4">
      Want to support vimgifs? Use this
      <a class="blue link dim" href="https://geo.itunes.apple.com/us/movie/primer/id536457427?at=1l3vqFJ&ct=1l3vqFJ&mt=6"
        title="Affiliate Link to help support VimGifs.">
        affiliate link
      </a>
      if you are going to buy anything on iTunes or the App Store.
    </p>
    <p class="mt4 f6">
      Find a bug? <a href="http://github.com/mrmrs/vimgifs/" class="link blue dim">Submit a PR or open an issue on GitHub</a>.
    </p>
    <p class="mt4 f6">
      Site built by <a class="link blue dim" href="https://twitter.com/samjbmason" title="Sam Mason's Twitter">@samjbmason</a>
    </p>
  </div>
</footer>

