<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>
      <% if current_resource.try(:title).nil? %>
        vimgifs
      <% else %>
        <%= current_resource.title %> on vimgifs
      <% end %>
    </title>
    <meta name="author" content="mrmrs">
    <meta name="description" content="If you can watch gifs you can learn vim">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag 'tachyons.min' %>
    <style>
      img { width: 100%; max-width: 100%; }
      .f7 { font-size: 12px; }
      .carbon-poweredby { width: 100%; font-size: 12px; float: left; }
      .carbon-wrap { float: left; width: 100%; box-sizing: border-box; }
      .carbon-img  { float: left; width: 50%;  box-sizing: border-box; }
      .carbon-text  { float: left; width: 50%; padding-left: 16px; box-sizing: border-box; font-size: 12px; }

      #carbonads a:link { text-decoration: none!important; color: #222!important; }
    </style>
  </head>
