<footer class="bt b--black-05 pt5 pb5">
  <div class="ph3 mw7 center">
    <p class="f6">
      © 2016. Filmed and typed by
      <a class="link dim black fw9" href="http://twitter.com/mrmrs_">@mrmrs_</a>
      and
      <a href="http://twitter.com/csswizardry" class="link dim black fw9">@csswizardry</a>
    </p>
    <div>
      <a href="https://twitter.com/vimgifs" class="twitter-follow-button" data-show-count="false">Follow @vimgifs</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</footer>

