<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>
      {% if page.path contains '_gifs' %}
        {{ page.title }} on {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>
    <meta name="author" content="{{site.author}}">
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://tachyons.io/css/tachyons.min.css">
    <style>
      img { width: 100%; max-width: 100%; }
      .f7 { font-size: 12px; }
      .carbon-poweredby { width: 100%; font-size: 12px; float: left; }
      .carbon-wrap { float: left; width: 100%; box-sizing: border-box; }
      .carbon-img  { float: left; width: 50%;  box-sizing: border-box; }
      .carbon-text  { float: left; width: 50%; padding-left: 16px; box-sizing: border-box; font-size: 12px; }

  #carbonads a:link { text-decoration: none!important; color: #222!important; }
    </style>
  </head>
