{% include _head.html %}
<body class="code">
  {% include _header.html %}
  <main role="main" class="pt3">
    <article>
      <!-- This is where the title: in your front matter gets dropped in.-->
      <!-- This is where post content lives -->
        {{content}}
      <!-- end of post content -->
       <footer class="pv4 ph3 mw7 center gray" style="font-size:.75rem;">
        <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </footer>
    </article>
  </main>
  {% include _archives.html %}
  {% include _footer.html %}
  {% include _google_analytics.html %}
</body>
</html>
