{% include _head.html %}
<body>
  <article>
    <!-- This is where the title: in your front matter gets dropped in.-->
    <!-- This is where post content lives -->
      {{content}}
    <!-- end of post content -->
     <footer class="mt-2">
      {% if page.author %}
      <p class="meta author">
      <time  class="meta" datetime="{{page.date}}">{{page.date | date: "%d %B %Y"}}</time><br />
      By: <a href="" rel="author">{{page.author}}</a></p>
      {% endif %}
    </footer>
  </article>
  {% include _footer.html %}
  {% include _google_analytics.html %}
</body>
</html>
