---
pageable: true
---
  <section class="ph3 center mw7 pb5">
  <h3 class="f5 fw4">Ex commands</h3>
  <a class="link blue dim db pv2" href="https://vimgifs.com/bang/">:!</a>
  <a class="link blue dim db pv2" href="https://vimgifs.com/ex_vsp/g/">:vsp</a>
  <a class="link blue dim db pv2" href="https://vimgifs.com/ex_sp/g/">:sp</a>
  <a class="link blue dim db pv2" href="https://vimgifs.com/alternate-file/g/">:e #</a>
  <a class="link blue dim db pv2" href="https://vimgifs.com/browse-oldfiles/g/">:browse oldfiles</a>
  <a class="link blue dim db pv2" href="https://vimgifs.com/cd/">:cd</a>
  <a class="link blue dim db pv2" href="https://vimgifs.com/openvimrc/">:e $MYVIMRC</a>
  <a class="link blue dim db pv2" href="https://vimgifs.com/alignment/">:le, :ri, :ce</a>
  <a class="link blue dim db pv2" href="https://vimgifs.com/digraphs/">:digraphs</a>
  <a class="link blue dim db pv2" href="https://vimgifs.com/only/">:only</a>
</section>
