---
pageable: true
---
  <section class="ph3 center mw7 pv5">
  <h3 class="f5 fw4">Getting Started</h3>
  <p class="lh-copy measure">
    If you haven't done vimtutor yet,it's a great place to start learning vim.
    It's an interactive tutorial that is already installed on your computer.
    Open up terminal, type vimtutor and hit enter.
  </p>
  <a class="db link dim blue pv2" href="https://vimgifs.com/vimtutor/">vimtutor</a>
  <h4>Some simple movement commands</h4>
  <a class="db link dim blue pv2" href="https://vimgifs.com/h/">h - (left)</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/j/">j - (down)</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/k/">k - (up)</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/l/">l - (right)</a>
</section>
