---
pageable: true
---
  <section class="ph3 center mw7 pv5 lh-copy">
  <h3 class="f5 fw4">Getting Started</h3>
  <p class="lh-copy measure">
    If you haven't done vimtutor yet,it's a great place to start learning vim.
    It's an interactive tutorial that is already installed on your computer.
    Open up terminal, type vimtutor and hit enter.
  </p>
  <a class="db link dim blue pv2" href="https://vimgifs.com/vimtutor/">vimtutor</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/open-a-file/">opening a file</a>
  <h4>Quitting Vim</h4>
  <a class="db link dim blue pv2" href="https://vimgifs.com/ZZ/">ZZ - Write file (if changed) and quit.</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/ex-wqa/">:wqa -  Write all changed buffers and exit Vim</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/ex-xa/">:xa -  Write all changed buffers and exit Vim</a>

  <h4>Motion Commands</h4>
  <a class="db link dim blue pv2" href="https://vimgifs.com/h/">h - (left)</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/j/">j - (down)</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/k/">k - (up)</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/l/">l - (right)</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/w/">w - move forward one word</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/W/">W - move forward one WORD</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/b/">b - move back one word</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/B/">B - move back one WORD</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/e/">e - move to end of word</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/E/">E - move to end of WORD</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/ge/">ge - move backwards to end of word</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/gE/">gE - move backwards to end of WORD</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/$/">$ - move to end of line</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/0/">0 - move to beginning of line</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/caret/">^ - move to first non-whitespace character</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/g_/">g_ - move to last non-whitespace character</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/t/">t{char} and T{char} - move to character before {char}</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/f/">f{char} and F{char} - move to {char}</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/percent/">% - jump to matching parentheses or curly brace.</a>


  <h4>Insert mode</h4>
  <a class="db link dim blue pv2" href="https://vimgifs.com/i">i and I</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/a">a and A</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/o">o and O</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/i_esc/">i_esc</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/i_CTRL-C/">i_CTRL-C</a>

  <h4>Deleting</h4>
  <a class="db link dim blue pv2" href="https://vimgifs.com/x/">x - delete the character under cursor</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dd/">dd - delete the entire line</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dw/">dw - delete a word</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/das/">das - delete a sentence</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dat/">dat - delete a tag</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dap/">dap - delete a paragraph</a>

  <h4>Changes</h4>
  <a class="db link dim blue pv2" href="https://vimgifs.com/u/">u - undo</a>


</section>
