---
pageable: true
---
  <section class="ph3 center mw7 pv5">
  <h3 class="f5 fw4">Commands that contain motions</h3>
  <a class="db link dim blue pv2" href="https://vimgifs.com/line-movements/">line movements</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/search-lowercase/">search lowercase</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/search-uppercase/">search uppercase</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/backwards-search/">backwards search</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/search-lowercase/">search lowercase</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/select-last-change/">select last change</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/yw/">yw</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/cw/">cw</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dw/">dw</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/ctgt/">ct&gt;</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/delete-to-number/">delete to number</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dh-dl/">dh-dl</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dh/">dh</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dl/">dl</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/caret/">caret</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dap/">cap</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dat/">dat</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dap/">dap</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dit/">dit</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/dib/">dib</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/vit/">vit</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/vap/">vap</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/yit/">yit</a>
  <a class="db link dim blue pv2" href="https://vimgifs.com/yap/">yap</a>
</section>
