---
pageable: true
---
<section class="ph3 center mw7 pv5">
  <h3 class="f5 fw4">Search commands</h3>
  <a href="https://vimgifs.com/search-digit/" class="link blue dim db">/\d - Search for a digit</a>
  <a href="https://vimgifs.com/search-abc/" class="link blue dim db">/[] - Search for multiple characters</a>
  <a href="https://vimgifs.com/windo-find-replace/" class="link blue dim db">Windo find and replace</a>
  <a href="https://vimgifs.com/search-uppercase/" class="link blue dim db">/\u - Search for an uppercase letter</a>
  <a href="https://vimgifs.com/search-lowercase/" class="link blue dim db">/\l - Search for a lowercase letter</a>
  <a href="https://vimgifs.com/bacwards-search-delete/" class="link blue dim db">d? - Backwards searh delete</a>
</section>
