---
pageable: true
---
<section class="ph3 center mw7 pb5">
  <h3 class="f5 fw4">Window Commands</h3>
  <a class="link dim blue db pv2" href="https://vimgifs.com/ex_vsp/ ">:vsp</a>
  <a class="link dim blue db pv2" href="https://vimgifs.com/CTRL-W_CTRL-W/">CTRL-W_CTRL-W</a>
  <a class="link dim blue db pv2" href="https://vimgifs.com/ex_sp/">:sp</a>
  <a class="link dim blue db pv2" href="https://vimgifs.com/window-even-size/">evenly sized windows</a>
  <a class="link dim blue db pv2" href="https://vimgifs.com/windo-find-replace/">:windo find and replace</a>
  <a class="link dim blue db pv2" href="https://vimgifs.com/CTRL-W_n/">CTRL-W_n</a>
  <a class="link dim blue db pv2" href="https://vimgifs.com/window-resize/">window-resize</a>
</section>
