---
title: 42
author: mrmrs
date: 2016-07-20
awslink: https://s3-us-west-1.amazonaws.com/vimgifs/meaningoflife.gif
---

<code class="lh-copy">
  Vim can even help you find the meaning of life.
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/usr_42.html#42" class="code db link dim blue">:h 42</a>
</section>
