---
title: a
author: mrmrs
date: 2016-07-18
awslink: https://d26aqo05ggejx9.cloudfront.net/aA.gif
---

<code class="lh-copy">
  a will drop you into insert mode after the cursor.<br class="dn db-ns">
  A will drop you into insert mode at the end of the line.
</code>

<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#a" class="code db link dim blue">:h a</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#A" class="code db link dim blue">:h A</a>
</section>
