---
title: Align Text
author: mrmrs
date: 2016-07-18
awslink: https://d26aqo05ggejx9.cloudfront.net/alignment.gif
---

<code class="lh-copy">
  :le, :ce, and :ri will left align, center align, and right align text.
  You can pass a range or selection i.e<br><br>
  :%le<br>
  :15,55le<br>
  :'&lt;,'&gt;le<br>
  :le
</code>

<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#:ce" class="code db link dim blue">:h :ce</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#:ri" class="code db link dim blue">:h :ri</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#:le" class="code db link dim blue">:h :le</a>
</section>
