---
title: Autocomplete
author: mrmrs
date: 2016-07-19
awslink: https://d26aqo05ggejx9.cloudfront.net/autocomplete.gif
---

<code class="lh-copy">
  You can autocomplete any word present in your current sessions buffers by using ctrl-p or ctrl-n.
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#i_CTRL-P" class="code db link dim blue">:h i_CTRL-P</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#i_CTRL-N" class="code db link dim blue">:h i_CTRL-N</a>
</section>
