---
title: cit
author: mrmrs
date: 2016-07-20
awslink: https://d26aqo05ggejx9.cloudfront.net/cit.gif
---

<code class="lh-copy">
  cit stands for 'change inside tag'<br>
  c is change<br>
  i is inside<br>
  t is tag<br>
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#it" class="code db link dim blue">:h it</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#c" class="code db link dim blue">:h c</a>
</section>
