---
title: c
author: mrmrs
date: 2016-07-20
awslink: https://s3-us-west-1.amazonaws.com/vimgifs/ctgt.gif
---

<code class="lh-copy">
  ct{char} will delete text from cursor until {char} on the same line (use / instead of t if you want this to operate across lines).
  ctgt; can be highly useful when editing xml or html. <br>
  c is change<br>
  t is til (before)<br>
  > is the {char}. This can be replaced by any character.
</code>

<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#c" class="code db link dim blue">:h c</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#t" class="code db link dim blue">:h t</a>
</section>
