---
title: cw
author: mrmrs
date: 2016-07-24
awslink: https://d26aqo05ggejx9.cloudfront.net/cw.gif
---

<code class="lh-copy">
  cw will change from the cursor through the end fo the word.
  c is change<br>
  w is the word movement<br>
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#c" class="code db link dim blue">:h c</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#w" class="code db link dim blue">:h w</a>
</section>
