---
title: dj and dk
author: mrmrs
date: 2016-07-25
awslink: https://d26aqo05ggejx9.cloudfront.net/djdk.gif
---

<code class="lh-copy">
  d is delete<br>
  j moves down one line<br>
  Composed together (dj) will delete the current line, and the line below.<br><br>
  k is move up one line<br>
  Composed together (dk) will delete the current line, and the line above.<br>
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#j" class="code db link dim blue">:h j</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#k" class="code db link dim blue">:h k</a>
</section>
