---
title: dh
author: mrmrs
date: 2016-07-25
awslink: https://d26aqo05ggejx9.cloudfront.net/dh.gif
---

<code class="lh-copy">
  dl and x will both delete the character under the cursor.<br><br>
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#l" class="code db link dim blue">:h l</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#h" class="code db link dim blue">:h h</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#d" class="code db link dim blue">:h d</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#x" class="code db link dim blue">:h x</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#X" class="code db link dim blue">:h X</a>
</section>
