---
title: dw
author: mrmrs
date: 2016-07-25
awslink: https://d26aqo05ggejx9.cloudfront.net/dw.gif
---

<code class="lh-copy">
  dw will delete from the cursor through the end of the word.
  d is delete<br>
  w is the word movement<br><br>
  if you wish to paste the deleted word, press p or P.
  You can give this command a count. If you want to delete the next three words
  you can use 3dw or d3w. To delete the next 5 words use 5dw or d5w.
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#d" class="code db link dim blue">:h c</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#w" class="code db link dim blue">:h w</a>
</section>
