---
title: e
author: mrmrs
date: 2016-07-19
awslink: https://s3-us-west-1.amazonaws.com/vimgifs/e.gif
---

<code class="lh-copy">
  e will jump to the end of the word, E will jump to the end of the WORD.
  e is more greedy when it is deciding what is a word or not. This behavior can also be affected by the setting of iskeyword.
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#e" class="code db link dim blue">:h e</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#E" class="code db link dim blue">:h E</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#w" class="code db link dim blue">:h w</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#W" class="code db link dim blue">:h W</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#b" class="code db link dim blue">:h b</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#B" class="code db link dim blue">:h B</a>
</section>
