---
title: f
author: mrmrs
date: 2016-07-19
awslink: https://d26aqo05ggejx9.cloudfront.net/f.gif
---

<code class="lh-copy">
  f will jump to the next character you type. It does not work across lines, only on a single line.
  F will do the same, but backwards.
</code>

<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#f" class="code db link dim blue">:h f</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#F" class="code db link dim blue">:h F</a>
</section>
