---
title: g
author: mrmrs
date: 2016-07-19
awslink: https://d26aqo05ggejx9.cloudfront.net/g.gif
---

<code class="lh-copy">
  gg will move the cursor to the top of the file<br>
  G will move the cursor to the end of the file
</code>

<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#g" class="code db link dim blue">:h g</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#G" class="code db link dim blue">:h G</a>
</section>
