---
title: i
author: mrmrs
date: 2016-07-19
awslink: https://s3-us-west-1.amazonaws.com/vimgifs/i.gif
---

<code class="lh-copy">
  i stands for insert. <br>
  i will enter you into insert mode which will print characters before where the cursor is.
  I will enter into insert mode at the beginning of the line regardless of cursor position.

</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#i" class="code db link dim blue">:h i</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#I" class="code db link dim blue">:h I</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#o" class="code db link dim blue">:h o</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#O" class="code db link dim blue">:h O</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#a" class="code db link dim blue">:h a</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#A" class="code db link dim blue">:h A</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#s" class="code db link dim blue">:h s</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#S" class="code db link dim blue">:h S</a>
</section>
