---
title: j
author: mrmrs
date: 2016-07-19
tags:
- motion
awslink: https://d26aqo05ggejx9.cloudfront.net/j.gif
---

<code class="lh-copy">
  j moves up as a motion command.<br>
  J joins the current line, with the line below.
</code>

<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#j" class="code db link dim blue">:h j</a>
</section>
