---
title: k
author: mrmrs
date: 2016-07-19
awslink: https://s3-us-west-1.amazonaws.com/vimgifs/k.gif
---

<code class="lh-copy">
  k moves up.
  K looks up the word under the cursor. I never seem to have this wired up correctly and it has never worked for me.
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#k" class="code db link dim blue">:h k</a>
</section>
