---
title: Line movements
author: mrmrs
date: 2016-07-25
awslink: https://d26aqo05ggejx9.cloudfront.net/line-movements.gif
---

<code class="lh-copy">
  ^ - moves to first non-space character on the line<br>
  g_ - moves to last non-space character on the line<br>
  0 - Moves to the beginning of the line<br>
  $ - moves to end of the line
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#^" class="code db link dim blue">:h ^</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#g_" class="code db link dim blue">:h g_</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#0" class="code db link dim blue">:h 0</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#$" class="code db link dim blue">:h $</a>
</section>
