---
title: m
author: mrmrs
date: 2016-07-19
awslink: https://d26aqo05ggejx9.cloudfront.net/mark.gif
---

<code class="lh-copy">
  m{char} will mark a location. You can then perform actions relative to that mark. You can navigate
  back to it, or delete from where you are currently to the mark.
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#m" class="code db link dim blue">:h m</a>
</section>
