---
title: o
author: mrmrs
date: 2016-07-19
awslink: https://d26aqo05ggejx9.cloudfront.net/newlines.gif
---

<code class="lh-copy">
  o will create a newline below where your cursor is and drop you into insert mode.<br><br>
  O will create a newline above where your cursor is and drop you into insert mode.
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#o" class="code db link dim blue">:h o</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#O" class="code db link dim blue">:h O</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#i" class="code db link dim blue">:h i</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#I" class="code db link dim blue">:h I</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#a" class="code db link dim blue">:h a</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/insert.html#A" class="code db link dim blue">:h A</a>
</section>
