---
title: Open file to line number
author: mrmrs
date: 2016-07-20
awslink: https://s3-us-west-1.amazonaws.com/vimgifs/opentolinenumber.gif
---

<code class="lh-copy">
  Vim can open a file to a desired line number with the + flag. <br><br>
  vi +8 index.html will open index.html and place the cursor on line 8.
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/starting.html#initialization" class="code db link dim blue">:h initialization</a>
</section>
