---
title: p
author: mrmrs
date: 2016-07-19
awslink: https://d26aqo05ggejx9.cloudfront.net/p.gif
---

<code class="lh-copy">
  p stands for paste or put. You can paste from many different registers.
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#p" class="code db link dim blue">:h p</a>
</section>
