---
title: t
author: mrmrs
date: 2016-07-19
awslink: https://d26aqo05ggejx9.cloudfront.net/t.gif
---

<code class="lh-copy">
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#t" class="code db link dim blue">:h b</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/motion.html#T" class="code db link dim blue">:h B</a>
</section>
