---
title: y
author: mrmrs
date: 2016-07-19
awslink: https://s3-us-west-1.amazonaws.com/vimgifs/y.gif
---

<code class="lh-copy">
  y stands for yank, which is equivalent to the concept of copying text. But it's a bit more powerful.
</code>
<section class="mt4">
  <h3 class="fw6 f5">Further Reading</h3>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#y" class="code db link dim blue">:h y</a>
  <a href="http://vimdoc.sourceforge.net/htmldoc/change.html#Y" class="code db link dim blue">:h Y</a>
</section>
